# Build/test archives
*.tar

# Windows OS Files
*.Identifier
*:Zone.Identifier

# SBOM directories and files
sbom-*/
sbom-*.spdx.json

#claude files
claude.md

#artile 
dev_to_article.md
final_dev_article.md

#git files
.git
.gitignore
